Data types And Structures Q&A

1. What are data structures, and why are they important?
 - Data structures are ways to store and organize data to perform operations efficiently. They help manage large amounts of data and make processing faster and easier.
2.  Explain the difference between mutable and immutable data types with examples.
 - Mutable: Can be changed. Example: list = [1, 2] → list.append(3)
 - Immutable: Cannot be changed. Example: string = "hello" → Cannot change characters directly.
3.  What are the main differences between lists and tuples in Python?
 - Lists are mutable and use [].
 - Tuples are immutable and use ().
 - Lists are slower; tuples are faster for fixed data.
4. Describe how dictionaries store data.
 - Dictionaries store data in key-value pairs using {}. Each key must be unique.
5. Why might you use a set instead of a list in Python?
 - Sets remove duplicates and are faster for checking membership.
6. What is a string in Python, and how is it different from a list?
 - A string is a sequence of characters. Unlike lists, strings are immutable and store only characters.
7. How do tuples ensure data integrity in Python?
 - Tuples are immutable, so the data can't be changed, making them safer for fixed values.
8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table maps keys to values using a hash function. Python dictionaries use hash tables internally.
9. Can lists contain different data types in Python?
 - Yes, lists can contain mixed data types like [1, "hello", True].
10.  Explain why strings are immutable in Python.
 - Strings are immutable for safety and performance, allowing them to be used as keys in dictionaries.
11.  What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries provide faster access using keys and are better for labeled data.
12. Describe a scenario where using a tuple would be preferable over a list.
 - Use a tuple to store fixed data like coordinates: (x, y) that shouldn't change.
13. How do sets handle duplicate values in Python?
 - Sets automatically remove duplicates.
14. How does the “in” keyword work differently for lists and dictionaries?
 - List: Checks if value exists.
 - Dictionary: Checks if key exists.
15.  Can you modify the elements of a tuple? Explain why or why not.
 - No, tuples are immutable. You cannot change their values after creation.
16. What is a nested dictionary, and give an example of its use case.
 - A dictionary inside another.
 - Example: student = {"name": "sunil", "marks": {"math": 90, "science": 85}}
17. Describe the time complexity of accessing elements in a dictionary.
 - Access time is on average O(1) (constant time).
18. In what situations are lists preferred over dictionaries?
 - Use lists when order matters and you don’t need key-value pairs.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Older versions of Python don’t preserve order. You access values by key, not position.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - List: Access by index (e.g. list[0])
 - Dictionary: Access by key (e.g. dict["name"])

In [4]:
# 1. Create a string with your name
name = "sunil kumar behera"
print(name)

sunil kumar behera

In [8]:
# 2. Length of "Hello World"
text = "Hello World"
length = len(text)
print(f"The length of '{text}' is: {length}")

The length of 'Hello World' is: 11

In [2]:
# 3. Slice the first 3 characters from "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [3]:
# 4. Convert "hello" to uppercase
text = "hello"
print(text.upper())

HELLO

In [5]:
# 5. Replace "apple" with "orange" in "I like apple"
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [6]:
# 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# 7. Append 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
# 8. Remove 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
# 9. Access the second element in ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])  # Indexing starts from 0

b

In [10]:
# 10. Reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
# 11.  Create a tuple with elements 100, 200, 300 and print it
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [12]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [14]:
# 14.  Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
# 15. Create a tuple with 3 fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [16]:
# 16. Create a set with 'a', 'b', 'c' and print it
letters = {'a', 'b', 'c'}
print(letters)

{'c', 'a', 'b'}

In [17]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [18]:
# 18.  Remove 4 from the set {1, 2, 3, 4}
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [19]:
# 19. Find the union of sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
# 20. Find the intersection of sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [25]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "Sunil", "age": 20, "city": "Cuttack"}
print(person)

{'name': 'Sunil', 'age': 20, 'city': 'Cuttack'}

In [28]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person['country'] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [29]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [30]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [31]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 10, 'b': 20}

In [33]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced)
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[12, 15, 43, 95, 100]

In [34]:
# 28.  Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [35]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
# 30. Write a code to convert a list of strings into a set
words = ["apple", "banana", "apple", "orange"]
word_set = set(words)
print(word_set)

{'banana', 'orange', 'apple'}